.header {
  display: flex;
  justify-content: center;
  height: 4em;
}

.header ul {

  display: flex;
  justify-content: center;
  gap: 6em;
  width: 50%;
  padding: 1em 12em !important;
}

.header a {

  color: rgba(255, 255, 255, .8) !important;
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 950px) {

  .header {
    height: 100dvh;
    display: flex;
    justify-content: stretch;
  }

  .header ul {

    flex-direction: column;
    justify-content: center;
    padding: 0 .5em !important;
    gap: 1.5em;
  }


  .header a {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;

    font-size: 1em;
    rotate: 180deg;
  }


}